@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h4>Add a new Appointment</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Paid)
    @Html.HiddenFor(model => model.Client, new {@value = @ViewBag.Client})

    @Html.LabelFor(model => model.TimeAndDate)
    @Html.TextBoxFor(model => model.TimeAndDate, new {@type = "date"})

    @Html.LabelFor(model => model.AppointmentCost)
    @Html.TextBoxFor(model => model.AppointmentCost, new { type = "decimal"})

    <input type="submit" value="Add new appointment" class="btn btn-default" />
}
<p>@Html.ActionLink("back to Stylist list", "Index", "Stylist")</p>