@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Edit Client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Edit Client" class="btn btn-default" />
}
<p>@Html.ActionLink("back to stylist list", "Index", "Stylist")</p>