@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>Date Started: @Html.DisplayFor(model => model.DateStarted.Month)/@Html.DisplayFor(model => model.DateStarted.Day)/@Html.DisplayFor(model => model.DateStarted.Year) <h3>
<h3>Pay per hour: $@Html.DisplayFor(model => model.Pay)<h3>
<p>@Html.ActionLink("See Client list", "Index", "Client", new { id=Model.StylistId })</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Remove Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to all stylists list", "Index")</p>